<div class="d-flex p-3 mb-3">
  <div class="ms-auto">
    Mostrando 
    <span>
      <%= pages %>
    </span> - 
    <span>
      <% if (totItems % 10) { %> 
        <%= (pages + (10 - pages)) %>
      <% }else{ %>
        <%= totItems %>
      <% } %>   
    </span> / 
    <span>
      <%= totItems %>
    </span>
  </div>


  <% if (pages > 1) { %> 
    <a href="/products/<%= action %>/<%= (pages - 1) %>">
      <div class="ms-2 fw-bold">&lt;</div>
      <% action = 'back' %>
      <% console.log(action + ' ' + (pages - 1)) %> 
    </a>
  <% } %> 

  <% if (pages != totPages) { %> 
    <a href="/products/<%= action %>/<%= (pages + 1) %>">
      <div class="ms-2 fw-bold">&gt;</div>
      <% action = 'forward' %>
      <% console.log(action + ' ' + (pages + 1)) %> 
    </a>
  <% } %> 
</div>