<% if (rows.rows === []) { %>
<p>No hay productos para mostrar</p>
<% } %> <% rows.rows.forEach((row, index) => { %>
<tr>
  <th data-id="<%= row.dataValues.id %>" scope="row">
    <%= index + 1 + (10 * (currentPage - 1)) %>
  </th>
  <td>
    <div><%= row.dataValues.description %></div>
  </td>
  <td class="fw-bold text-primary">$ <%= row.dataValues.unit_price %></td>
  <td>
    <div class="container rounded bg-success text-white w-75 ms-0">
      <% if (row.dataValues.quantity === 1) { %> <%= `${row.dataValues.quantity}
      unidad`%> <% } else { %> <%= `${row.dataValues.quantity} unidades`%> <% }
      %>
    </div>
  </td>
  <td>
    <div class="container text-align-center">
      <a
        href="#editProduct"
        data-bs-toggle="modal"
        data-bs-target="#editProduct"
      >
        <i class="text-primary fs-5 me-3 fas fa-edit"></i>
      </a>

      <div
        class="modal fade"
        id="editProduct"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="editProductLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-success text-white">
              <h5 class="modal-title" id="editProductLabel">
                Modificar Producto
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                action="/products/<%= row.dataValues.id %>?_method=PUT"
                method="POST"
              >
                <div class="mb-3">
                  <label for="products-description" class="form-label fw-bold"
                    >Descripción</label
                  >
                  <input
                    type="text"
                    id="products-description"
                    class="form-control"
                    placeholder="Descripción"
                    value="<%= row.dataValues.description %>"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="products-quantity" class="form-label fw-bold"
                    >Cantidad</label
                  >
                  <input
                    type="number"
                    id="products-quantity"
                    class="form-control"
                    placeholder="Cantidad"
                    min="1"
                    value="<%= row.dataValues.quantity %>"
                  />
                </div>
                <div class="mb-3">
                  <label for="products-unit-price" class="form-label fw-bold"
                    >Precio Unitario</label
                  >
                  <input
                    type="number"
                    id="products-unit-price"
                    class="form-control"
                    placeholder="Precio Unitario"
                    step="0.01"
                    value="<%= row.dataValues.unit_price %>"
                  />
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="submit" class="btn btn-info">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <a
        href="#deleteProduct"
        data-bs-toggle="modal"
        data-bs-target="#deleteProduct"
      >
        <i class="text-danger fs-5 fas fa-trash-alt"></i>
      </a>

      <div
        class="modal fade"
        id="deleteProduct"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="deleteProductLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header bg-warning">
              <h5 class="modal-title" id="deleteProductLabel">Eliminar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              ¿Desea eliminar el producto seleccionado?
            </div>
            <div class="modal-footer justify-content-center">
              <form
                action="/products/<%= row.dataValues.id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="btn btn-info delete-product">
                  Aceptar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
<% }) %>

<script>
  document.addEventListener("click", (e) => {
    if (e.target.classList.contains("fa-edit")) {
      idProduct = Number(
        e.target.parentElement.parentElement.parentElement.parentElement
          .children[0].attributes[0].value
      );
      console.log("editar: " + idProduct);
      axios
        .get(`/products/edit/${idProduct}`)
        .then((res) => {
          document.querySelector("#products-description").value =
            res.data.description;
          document.querySelector("#products-quantity").value =
            res.data.quantity;
          document.querySelector("#products-unit-price").value =
            res.data.unit_price;
        })
        .catch((err) => console.log(err));
    } else if (e.target.classList.contains("delete-product")) {
      idProduct = Number(
        e.target.parentElement.parentElement.parentElement.parentElement
          .children[0].attributes[0].value
      );
      console.log("borrar: " + idProduct);
      axios
        .delete(`/products/${idProduct}`)
        .then((res) => {
          toastr["success"]("El producto se ha borrado");
        })
        .catch((err) => console.log(err));
    }
  });
</script>
