<%- include('../partials/background.ejs') %>
<%- include('../partials/toastr.ejs') %>
<%- include('../partials/navbar.ejs') %>
<%- include('../partials/pages.ejs') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio Unitario</th>
      <th scope="col">Cantidad</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% if (search === 'none') { %>
      <%- include('../partials/products.ejs') %>
    <% }else{ %>
      <%- include('../partials/search.ejs') %>
    <% } %> 
  </tbody>
</table>